:root {
    --box-shadow: 0 10px 20px 0 rgba(26, 167, 143, 0.6);
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        0deg,
        rgba(247,247,247,1) 23.8%,
        rgba(22, 126, 145, 0.377) 92%
    );
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
}

.header-container {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 220px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    background: rgb(243,243,243);
    box-shadow: 0 10px 12px 0 rgba(26, 167, 143, 0.6);
}

.header-container p {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.main-container {
    display: flex;
}

.left-column-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
}

.key {
    width: 38px;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background: rgb(243, 243, 243);
    border: 1px solid #333;
}

.key:hover {
    background: #b6d3cf;
}

.accidental {
    color: #eee;
    background: rgb(53, 53, 53);
    margin-bottom: 5px;
}

.accidental:hover {
    background: #4e746e;
}

.key.offset {
    width: 17px;
    visibility: hidden;
}

.key.hollow {
    visibility: hidden;
}

.key.active-key {
    background-color: rgb(79, 182, 88);
}

.wavelet-ctrl-container {
    display: flex;
    flex-direction: column;
}

.wavelet-ctrl-container h3 {
    margin-top: 0;
    margin-bottom: 4px;
}

.wavelet-range-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6px;
    margin-top: 14px;
}

.master-ctrl-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 232px;
}

.master-ctrl-container h3 {
    margin-top: 0;
    margin-bottom: 18px;
}

.master-ctrl-subcontainer {
    display: flex;
}

.fader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin-right: 10px;

}

.fader-container span.numerical {
    background: rgb(243, 243, 243);
    padding: 2px 10px;
    width: 60px;
    border-radius: 2px;
    display: none;
}

.fader {
    -webkit-appearance: none;
    height: 120px;
    width: 10px;
    border-radius: 4px;  
    margin: 0 10px;
    background: #b6d3cf;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .15s;
    transition: opacity .15s;
}

.horiz-fader {
    width: 120px;
    height: 10px;
}

.fader:hover {
    opacity: 1;
}

.fader::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 10px;
    border-radius: 50%; 
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.horiz-fader::-webkit-slider-thumb {
    height: 25px;
    width: 10px;
}
  
.fader::-moz-range-thumb {
    width: 25px;
    height: 10px;
    border-radius: 4px;
    border: none;
    background: rgb(0, 0, 0);;
    cursor: pointer;
}

.horiz-fader::-moz-range-thumb {
    height: 25px;
    width: 10px;
}

.master-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mute {
    height: 36px;
    width: 50px;
    padding: 5px 8px;
    border: 1px solid #333;
    background: rgb(243, 243, 243);
    margin-bottom: 10px;
}

.mute:hover {
    background: #b6d3cf;
}

.mute.muted {
    background: rgb(231, 145, 16);
}

.play-pause {
    padding: 5px 8px;
    border: 1px solid #333;
    height: 36px;
    width: 50px;
    background: rgb(243, 243, 243);
}

.play-pause:hover {
    background: #b6d3cf;
}

button {
    border-radius: 4px;
}

.visual-container {
    display: flex;
    border: none;
    border-radius: 4px;
}

.visual {
    height: 142px;
    width: 306px;
    position: relative;
    display: flex;
}

.wavelet-vis {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: #000;
}

.visual-y-axis {
    height: 142px;
    width: 30px;
    display: flex;
    justify-content: right;
}

.visual-y-axis .visual-y-axis-spans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visual-y-axis span {
    color: black;
    font-size: 8px;
    margin-left: auto;
}

.visual-y-axis .visual-axis-bar {
    margin-left: 5px;
}

.visual-axis-bar {
    fill: transparent;
    stroke: #000;
    stroke-width: 1px;
    stroke-linecap: round;
}

.visual-x-axis {
    width: 306px;
    height: 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visual-x-axis svg {
    margin-right: 10px;
}
.visual-x-axis span {
    color: black;
    font-size: 14px;
}

.pan-distro-container {
    
}

.pan-distro-container h3 {
    margin-top: 0;
    margin-bottom: 4px;
}



.grid {
    position: relative;
    width: 960px;
    max-width: 960px;
}

.item {
    display: block;
    position: absolute;
    width: 220px;
    height: 100px;
    margin: 10px;
    z-index: 1;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 10px 12px 0 rgba(26, 167, 143, 0.6);
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item.h1 {
    height: 100px;
}

.item.h2 {
    height: 220px;
}

.item.w1 {
    width: 100px;
}

.item.w2 {
    width: 220px;
}

.item.w3 {
    width: 340px;
}

.item.w4 {
    width: 460px;
}

.item.w5 {
    width: 580px;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgb(243, 243, 243);
}

.item-content h3 {
    margin: 0;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    background: rgb(243,243,243);
}
