:root {
    --box-shadow: 0 10px 20px 0 rgba(26, 167, 143, 0.6);
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        0deg,
        rgba(247,247,247,1) 23.8%,
        rgba(22, 126, 145, 0.377) 92%
    );
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    background: rgb(247,247,247);
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px 0 rgba(26, 167, 143, 0.6);
    padding: 15px 15px;
}

.header-container {
    padding: 32px 32px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.header-container p {
    font-size: 26px;
    font-weight: bold;
}

.main-container {
    display: flex;
}

.left-column-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
}

.keys-container {
    height: 90px;
    margin-bottom: 20px;
}

.key {
    width: 40px;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background: rgb(250, 250, 250);
    border: 1px solid #333;
}

.key:hover {
    background: #b6d3cf;
}

.accidental {
    color: #eee;
    background: rgb(53, 53, 53);
    margin-bottom: 5px;
}

.accidental:hover {
    background: #4e746e;
}

.key.offset {
    width: 17px;
    visibility: hidden;
}

.key.hollow {
    visibility: hidden;
}

.key.active-key {
    background-color: rgb(79, 182, 88);
}

.wavelet-ctrl-container {
    display: flex;
    flex-direction: column;
}

.wavelet-ctrl-container h3 {
    margin-top: 0;
    margin-bottom: 4px;
}

.wavelet-range-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.master-ctrl-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 232px;
}

.master-ctrl-container h3 {
    margin-top: 0;
    margin-bottom: 18px;
}

.master-ctrl-subcontainer {
    display: flex;
}

.fader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin-right: 10px;
}

.fader-container span.numerical {
    background: rgb(250, 250, 250);
    padding: 2px 10px;
    width: 60px;
    border-radius: 2px;
    display: none;
}

.fader {
    -webkit-appearance: none;
    height: 120px;
    width: 10px;
    border-radius: 4px;  
    margin: 0 10px;
    background: #b6d3cf;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .15s;
    transition: opacity .15s;
}

.horiz-fader {
    width: 120px;
    height: 10px;
}

.fader:hover {
    opacity: 1;
}

.fader::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 10px;
    border-radius: 50%; 
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.horiz-fader::-webkit-slider-thumb {
    height: 25px;
    width: 10px;
}
  
.fader::-moz-range-thumb {
    width: 25px;
    height: 10px;
    border-radius: 4px;
    border: none;
    background: rgb(0, 0, 0);;
    cursor: pointer;
}

.horiz-fader::-moz-range-thumb {
    height: 25px;
    width: 10px;
}

.master-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mute {
    height: 36px;
    width: 50px;
    padding: 5px 8px;
    border: 1px solid #333;
    background: rgb(250, 250, 250);
    margin-bottom: 10px;
}

.mute:hover {
    background: #b6d3cf;
}

.mute.muted {
    background: rgb(231, 145, 16);
}

.play-pause {
    padding: 5px 8px;
    border: 1px solid #333;
    height: 36px;
    width: 50px;
    background: rgb(250, 250, 250);
}

.play-pause:hover {
    background: #b6d3cf;
}

button {
    border-radius: 4px;
}

.visual-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.visual {
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(247,247,247);
}

.wavelet-vis {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: #000;
}

.pan-distro-container {
    
}

.pan-distro-container h3 {
    margin-top: 0;
    margin-bottom: 4px;
}




/* Currently this isn't used */
.visual-y-axis-container {
    height: 100%;
    /* width: 50px; */
    margin-right: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* position: relative; */
}

.visual-y-axis-labels {
    height: 290px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visual-y-axis-label {
    height: 20px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    display: inline-block;
}

.visual-y-axis-bar {
    fill: transparent;
    stroke: #000;
    stroke-width: 2px;
    stroke-linecap: round;
}
